<section id="section6" class="blog section-bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 columns margin-top-100 margin-bottom-50">
                <div class="row">
                    <div class="col-md-9 columns">
                        <div class="section-heading">
                            <div class="additional-heading" data-lorem="3w"></div>
                            <h1 class="heading" data-lorem="2w"></h1>
                            <div class="fancy-line"></div>
                        </div>
                    </div>
                    <div class="col-md-3 columns text-right margin-top-20"><a href="#" class="btn-lg btn-primary">More</a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="post-21" class="post standard white">
        <div class="post-container">
            <div class="post-thumbnail"><img src="img/image-1.jpg" alt="image_blog">
                <div class="post-thumbnail-overlay"></div>
            </div>
            <div class="post-content-container">
                <div class="container post-inner">
                    <div class="post-content">
                        <h4 class="post-date"><a href="#" target="_blank">jan 00</a></h4>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="#" target="_blank" data-lorem="3w"></a></h4>
                            <ul class="post-category-items list-inline">
                                <li data-lorem="1w"></li>
                                <li data-lorem="1w"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="post-22" class="post standard white">
        <div class="post-container">
            <div class="post-thumbnail"><img src="img/image-1.jpg" alt="image_blog">
                <div class="post-thumbnail-overlay"></div>
            </div>
            <div class="post-content-container">
                <div class="container post-inner">
                    <div class="post-content">
                        <h4 class="post-date"><a href="#">jan 00</a></h4>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="#" data-lorem="3w"></a></h4>
                            <ul class="post-category-items list-inline">
                                <li data-lorem="1w"></li>
                                <li data-lorem="1w"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="post-23" class="post standard white">
        <div class="post-container">
            <div class="post-thumbnail"><img src="img/image-1.jpg" alt="image_blog">
                <div class="post-thumbnail-overlay"></div>
            </div>
            <div class="post-content-container">
                <div class="container post-inner">
                    <div class="post-content">
                        <h4 class="post-date"><a href="#">jan 00</a></h4>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="#" data-lorem="4w"></a></h4>
                            <ul class="post-category-items list-inline">
                                <li data-lorem="1w"></li>
                                <li data-lorem="1w"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="post-24" class="post standard white">
        <div class="post-container">
            <div class="post-thumbnail"><img src="img/image-1.jpg" alt="image_blog">
                <div class="post-thumbnail-overlay"></div>
            </div>
            <div class="post-content-container">
                <div class="container post-inner">
                    <div class="post-content">
                        <h4 class="post-date"><a href="#">jan 00</a></h4>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="#" data-lorem="4w"></a></h4>
                            <ul class="post-category-items list-inline">
                                <li data-lorem="1w"></li>
                                <li data-lorem="1w">Advertise</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
