<section id="call-to-action" class="white call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 margin-top-70 margin-bottom-100">
        <h3 data-lorem="1s"></h3>
      </div>
      <div class="col-sm-3 col-md-3 margin-top-110 margin-bottom-100 text-right">
        <a href="#" class="btn-lg btn-default" data-lorem="1w"></a>
      </div>
    </div>
  </div>
</section>
