<div class="animate fadeInDown" data-animation="fadeInDown">
    <section id="clients" class="Clients">
        <div class="container">
            <div class="row">
                <div class="col-md-9 columns margin-top-100">
                    <div class="section-heading">
                        <h1 class="heading">CLIENTS</h1>
                        <div class="additional-heading" data-lorem="4w"></div>
                        <div class="fancy-line-inverse"></div>
                    </div>
                    <p data-lorem="2s"></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 columns margin-top-30 margin-bottom-70">
                    <div id="carousel-clients" class="carousel-container">
                        <div> <img src="img/logo-1.png" alt="client_logo" /> </div>
                        <div> <img src="img/logo-1.png" alt="client_logo" /> </div>
                        <div> <img src="img/logo-1.png" alt="client_logo" /> </div>
                        <div> <img src="img/logo-1.png" alt="client_logo" /> </div>
                        <div> <img src="img/logo-1.png" alt="client_logo" /> </div>
                        <div> <img src="img/logo-1.png" alt="client_logo" /> </div>
                        <div> <img src="img/logo-1.png" alt="client_logo" /> </div>
                        <div> <img src="img/logo-1.png" alt="client_logo" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
