<div class="animate fadeInDown" data-animation="fadeInDown">
    <section id="description" class="description">
        <div class="container">
            <div class="row">
                <div class="col-md-4 margin-70">
                    <h3 data-lorem="4w"></h3>
                    <p data-lorem="1p"></p>
                    <div class="row">
                        <div class="col-md-12 margin-top-30"><a href="#" class="btn btn-primary">More</a></div>
                    </div>
                </div>
                <div class="col-md-8 margin-top-70 margin-bottom-100"><img src="img/about-half.png" alt="mockup"></div>
            </div>
        </div>
    </section>
</div>
