<div id="footer-area" class="footer-bg text-center">
    <div class="footer container">
        <ul class="social-icons list-inline">
            <li><a href="#"><i class="icon ion-social-github"></i></a></li>
            <li><a href="#"><i class="icon ion-social-dribbble-outline"></i></a></li>
            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
        </ul>
        <div id="colophon" class="footer-colophon col-md-8 col-md-offset-2">
            <p class="site-info">2016 Ben Eaves</p>
        </div>
    </div>
</div>
