<div id="section1">
<div id="slides" class="slider-area fullscreen-container">
  <div class="slides-container">
    <div id="post-1" class="slide">
      <div class="agni_slide agni_slide-bg-1">
        <div class="agni_slide_bg_overlay"></div>
        <div class="slide-content">
          <div class="agni_slide-text container text-center">
            <h1 data-lorem="3w"></h1>
            <p data-lorem="6w"></p>
          </div>
        </div>
      </div>
    </div>
    <div id="post-2" class="slide">
      <div class="agni_slide agni_slide-bg-2">
        <div class="agni_slide_bg_overlay"></div>
        <div class="slide-content">
          <div class="agni_slide-text container slide-text text-center ">
            <h1 data-lorem="2w"></h1>
            <p data-lorem="2s"></p>
            <a class="btn btn-white" href="#" data-lorem="3w"></a>
            <a class="btn btn-primary" href="#" data-lorem="1w"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Slides-nav-control">
    <nav class="slides-navigation">
      <a href="#" class="next right-arrow"><img src="img/right-arrow.png" alt="next" /></a>
      <a href="#" class="prev left-arrow"><img src="img/left-arrow.png" alt="prev" /></a>
    </nav>
  </div>
</div></div>
