<section id="milestone" class="white milestone ">
    <!-- Milestone bg -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin-100"> <img src="img/image-1.jpg" alt="mockup"> </div>
            <div class="col-md-8 col-md-offset-1 margin-top-120">
                <div class="section-heading">
                    <h1 class="heading" data-lorem="3w"></h1>
                    <div class="additional-heading" data-lorem="5w"></div>
                    <div class="fancy-line-inverse"></div>
                </div>
                <p data-lorem="3s"></p>
                <div class="row">
                    <div class="col-sm-3 col-md-3 margin-50">
                        <div class="count">17</div>
                        <h4 data-lorem="1w"></h4> </div>
                    <div class="col-sm-3 col-md-3 margin-50">
                        <div class="count">427</div>
                        <h4 data-lorem="1w"></h4> </div>
                    <div class="col-sm-3 col-md-3 margin-50">
                        <div class="count">83</div>
                        <h4 data-lorem="1w"></h4> </div>
                    <div class="col-sm-3 col-md-3 margin-50">
                        <div class="count">101</div>
                        <h4 data-lorem="1w"></h4> </div>
                </div>
            </div>
        </div>
    </div>
</section>
