<div class="animate fadeInDown" data-animation="fadeInDown">
    <section id="contact-places" class="contact-places section-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-1 text-center margin-100"><i class="icon ion-ios7-location-outline large-icon"></i>
                    <h5>Address</h5>
                    <p>xxxxxx Street, xxxxxxxx, xxxxxx</p>
                </div>
                <div class="col-md-2 col-md-offset-2 text-center margin-100"><i class="icon ion-ios7-telephone-outline large-icon"></i>
                    <h5>Phone</h5>
                    <p>(000) 000-0000</p>
                </div>
                <div class="col-md-2 col-md-offset-2 text-center margin-100"><i class="icon ion-ios7-paperplane-outline large-icon"></i>
                    <h5>Email</h5>
                    <p>admin@admin.com</p>
                </div>
            </div>
        </div>
    </section>
</div>
