<section id="section3" class="works section-bg-color">
    <div id="portfolio-single-wrap">
        <div id="portfolio-single"> </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 columns margin-top-100 margin-bottom-50">
                <div class="row">
                    <div class="col-md-9 columns">
                        <div class="section-heading">
                            <div class="additional-heading" data-lorem="4w"></div>
                            <h1 class="heading">Portfolio</h1>
                            <div class="fancy-line"></div>
                        </div>
                    </div>
                    <div class="col-md-3 columns text-right margin-top-20"> <a href="#" class="btn-lg btn-primary">More</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin-padding">
        <div class="container">
            <div class="portfolio-filter">
                <ul id="filters" class="filter list-inline">
                    <li><a class="active" href="#all" data-filter=".all" title="">All</a></li>
                    <li><a class="" href="#advertise" data-filter=".advertise" title="">Advertise</a></li>
                    <li><a class="" href="#product" data-filter=".product" title="">Product</a></li>
                    <li><a class="" href="#typography" data-filter=".typography" title="">Typography</a></li>
                    <li><a class="" href="#development" data-filter=".development" title="">Development</a></li>
                    <li><a class="" href="#corporate" data-filter=".corporate" title="">Corporate</a></li>
                </ul>
            </div>
        </div>
        <div id="portfolio-page" class="portfolio-page portfolio-page-single">
            <div id="post-11" class="white portfolio-post all product col-sm-6 col-md-3 portfolio-thumbnail no-margin-padding">
                <div class="portfolio-thumbnail-container">
                    <div class="thumbnail-image"> <img src="img/thumb.jpg" alt="thumbnail" /> </div>
                    <div class="portfolio-thumbnail-content">
                        <h4><a class="portfolio-read-more" href="#" data-single_url="#" data-lorem="2w"></a></h4>
                        <div class="fancy-line"></div> <a class="portfolio-attachment-link" href="img/thumb.jpg" data-rel="prettyPhoto"><i class="icon ion-android-image"></i></a>
                        <ul class="portfolio-category list-inline">
                            <li data-lorem="1w"></li>
                            <li data-lorem="1w"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="post-12" class="white portfolio-post all advertise product col-sm-6 col-md-3 portfolio-thumbnail no-margin-padding">
                <div class="portfolio-thumbnail-container">
                    <div class="thumbnail-image"> <img src="img/thumb.jpg" alt="thumbnail" /> </div>
                    <div class="portfolio-thumbnail-content">
                        <h4><a class="portfolio-read-more" href="#" data-single_url="#" data-lorem="2w"></a></h4>
                        <div class="fancy-line"></div> <a class="portfolio-attachment-link" href="img/thumb.jpg" data-rel="prettyPhoto"><i class="icon ion-android-image"></i></a>
                        <ul class="portfolio-category list-inline">
                            <li data-lorem="1w"></li>
                            <li data-lorem="1w"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="post-13" class="white portfolio-post all product typography col-sm-6 col-md-3 portfolio-thumbnail no-margin-padding">
                <div class="portfolio-thumbnail-container">
                    <div class="thumbnail-image"> <img src="img/thumb.jpg" alt="thumbnail" /> </div>
                    <div class="portfolio-thumbnail-content">
                        <h4><a class="portfolio-read-more" href="#" data-single_url="#" data-lorem="2w"></a></h4>
                        <div class="fancy-line"></div> <a class="portfolio-attachment-link" href="img/thumb.jpg" data-rel="prettyPhoto"><i class="icon ion-android-image"></i></a>
                        <ul class="portfolio-category list-inline">
                            <li data-lorem="1w"></li>
                            <li data-lorem="1w"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="post-14" class="white portfolio-post all advertise corporate col-sm-6 col-md-3 portfolio-thumbnail no-margin-padding">
                <div class="portfolio-thumbnail-container">
                    <div class="thumbnail-image"> <img src="img/thumb.jpg" alt="thumbnail" /> </div>
                    <div class="portfolio-thumbnail-content">
                        <h4><a class="portfolio-read-more" href="#" data-single_url="#" data-lorem="2w"></a></h4>
                        <div class="fancy-line"></div> <a class="portfolio-attachment-link" href="img/thumb.jpg" data-rel="prettyPhoto"><i class="icon ion-android-image"></i></a>
                        <ul class="portfolio-category list-inline">
                            <li data-lorem="1w"></li>
                            <li data-lorem="1w"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="post-15" class="white portfolio-post all col-sm-6 col-md-3 portfolio-thumbnail no-margin-padding">
                <div class="portfolio-thumbnail-container">
                    <div class="thumbnail-image"> <img src="img/thumb.jpg" alt="thumbnail" /> </div>
                    <div class="portfolio-thumbnail-content">
                        <h4><a href="#" target="_blank" data-lorem="2w"></a></h4>
                        <div class="fancy-line"></div> <a class="portfolio-attachment-link" href="img/thumb.jpg" data-rel="prettyPhoto"><i class="icon ion-android-image"></i></a>
                        <ul class="portfolio-category list-inline">
                          <li data-lorem="1w"></li>
                          <li data-lorem="1w"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="post-16" class="white portfolio-post all typography corporate col-sm-6 col-md-3 portfolio-thumbnail no-margin-padding">
                <div class="portfolio-thumbnail-container">
                    <div class="thumbnail-image"> <img src="img/thumb.jpg" alt="thumbnail" /> </div>
                    <div class="portfolio-thumbnail-content">
                        <h4><a class="portfolio-read-more" href="#" data-single_url="#" data-lorem="2w"></a></h4>
                        <div class="fancy-line"></div> <a class="portfolio-attachment-link" href="img/thumb.jpg" data-rel="prettyPhoto"><i class="icon ion-android-image"></i></a>
                        <ul class="portfolio-category list-inline">
                          <li data-lorem="1w"></li>
                          <li data-lorem="1w"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="post-17" class="white portfolio-post all development col-sm-6 col-md-3 portfolio-thumbnail no-margin-padding">
                <div class="portfolio-thumbnail-container">
                    <div class="thumbnail-image"> <img src="img/thumb.jpg" alt="thumbnail" /> </div>
                    <div class="portfolio-thumbnail-content">
                        <h4><a class="portfolio-read-more" href="#" data-single_url="#" data-lorem="2w"></a></h4>
                        <div class="fancy-line"></div> <a class="portfolio-attachment-link" href="img/thumb.jpg" data-rel="prettyPhoto"><i class="icon ion-android-image"></i></a>
                        <ul class="portfolio-category list-inline">
                          <li data-lorem="1w"></li>
                          <li data-lorem="1w"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="post-18" class="white portfolio-post all development col-sm-6 col-md-3 portfolio-thumbnail no-margin-padding">
                <div class="portfolio-thumbnail-container">
                    <div class="thumbnail-image"> <img src="img/thumb.jpg" alt="thumbnail" /> </div>
                    <div class="portfolio-thumbnail-content">
                        <h4><a class="portfolio-read-more" href="#" data-single_url="#" data-lorem="2w"></a></h4>
                        <div class="fancy-line"></div> <a class="portfolio-attachment-link" href="img/thumb.jpg" data-rel="prettyPhoto"><i class="icon ion-android-image"></i></a>
                        <ul class="portfolio-category list-inline">
                          <li data-lorem="1w"></li>
                          <li data-lorem="1w"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
