<section id="section4" class="services section-bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-6 columns margin-top-100 margin-bottom-120">
                <div class="section-heading">
                    <div class="additional-heading" data-lorem="5w"></div>
                    <h1 class="heading">SERVICES</h1>
                    <div class="fancy-line"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 margin-top-50">
                        <div class="service-icon"><i class="icon ion-ios7-heart-outline large-icon"></i></div>
                        <div class="service-content">
                            <h5 data-lorem="1w"></h5>
                            <p data-lorem="1s"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 margin-top-50">
                        <div class="service-icon"><i class="icon ion-ios7-monitor-outline large-icon"></i></div>
                        <div class="service-content">
                          <h5 data-lorem="1w"></h5>
                          <p data-lorem="1s"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 margin-top-50">
                        <div class="service-icon"><i class="icon ion-ios7-pie-outline large-icon"></i></div>
                        <div class="service-content">
                          <h5 data-lorem="1w"></h5>
                          <p data-lorem="1s"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 margin-top-50">
                        <div class="service-icon"><i class="icon ion-ios7-plus-empty large-icon"></i></div>
                        <div class="service-content">
                          <h5 data-lorem="1w"></h5>
                          <p data-lorem="1s"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 margin-top-50">
                        <div class="service-icon"><i class="icon ion-ios7-wineglass-outline large-icon"></i></div>
                        <div class="service-content">
                          <h5 data-lorem="1w"></h5>
                          <p data-lorem="1s"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 margin-top-50">
                        <div class="service-icon"><i class="icon ion-ios7-lightbulb-outline large-icon"></i></div>
                        <div class="service-content">
                          <h5 data-lorem="1w"></h5>
                          <p data-lorem="1s"></p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 margin-top-50"><a href="#" class="btn-lg btn-primary">More</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row"></div>
    </div>
</section>
