<div class="animate fadeInDown" data-animation="fadeInDown">
    <section id="section5" class="team section-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-9 columns  margin-top-100 margin-bottom-50">
                    <div class="section-heading">
                        <div class="additional-heading" data-lorem="2w"></div>
                        <h1 class="heading">TEAM</h1>
                        <div class="fancy-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 margin-bottom-70">
                    <div id="carousel-team" class="row carousel-container">
                      <div class="col-sm-6 col-md-3 margin-bottom-50">
                          <div class="member-image-container">
                              <div class="member-image"><img src="img/thumb.jpg" alt="member 1" /></div>
                              <div class="member-text-content">
                                  <div class="member-text white">
                                      <h4 data-lorem="2w"></h4>
                                      <div class="fancy-line"></div>
                                      <p data-lorem="1s"></p>
                                      <ul class="member-link list-inline">
                                          <li><a href="#"><i class="icon ion-social-dribbble-outline"></i></a></li>
                                          <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                                          <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-3 margin-bottom-50">
                          <div class="member-image-container">
                              <div class="member-image"><img src="img/thumb.jpg" alt="member 1" /></div>
                              <div class="member-text-content">
                                  <div class="member-text white">
                                      <h4 data-lorem="2w"></h4>
                                      <div class="fancy-line"></div>
                                      <p data-lorem="1s"></p>
                                      <ul class="member-link list-inline">
                                          <li><a href="#"><i class="icon ion-social-dribbble-outline"></i></a></li>
                                          <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                                          <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-3 margin-bottom-50">
                          <div class="member-image-container">
                              <div class="member-image"><img src="img/thumb.jpg" alt="member 1" /></div>
                              <div class="member-text-content">
                                  <div class="member-text white">
                                      <h4 data-lorem="2w"></h4>
                                      <div class="fancy-line"></div>
                                      <p data-lorem="1s"></p>
                                      <ul class="member-link list-inline">
                                          <li><a href="#"><i class="icon ion-social-dribbble-outline"></i></a></li>
                                          <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                                          <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-3 margin-bottom-50">
                          <div class="member-image-container">
                              <div class="member-image"><img src="img/thumb.jpg" alt="member 1" /></div>
                              <div class="member-text-content">
                                  <div class="member-text white">
                                      <h4 data-lorem="2w"></h4>
                                      <div class="fancy-line"></div>
                                      <p data-lorem="1s"></p>
                                      <ul class="member-link list-inline">
                                          <li><a href="#"><i class="icon ion-social-dribbble-outline"></i></a></li>
                                          <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                                          <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
