<section id="testimonials" class="white testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-100">
                <div id="carousel-testimonials" class="carousel-container">
                  <div class="row">
                      <div class="col-sm-9 col-md-9">
                          <div class="testimonial-quote">
                              <h3 data-lorem="1s"></h3>
                              <p class="quote-cite" data-lorem="2w"></p>
                          </div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-sm-9 col-md-9">
                            <div class="testimonial-quote">
                                <h3 data-lorem="1s"></h3>
                                <p class="quote-cite" data-lorem="2w"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 col-md-9">
                            <div class="testimonial-quote">
                                <h3 data-lorem="1s"></h3>
                                <p class="quote-cite" data-lorem="2w"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
