{%extends 'layout.njk'%}
{%block content%}
{%include "includes/header.njk"%}
{%include "includes/nav.njk"%}
{%include "includes/about.njk"%}
{%include "includes/milestone.njk"%}
{%include "includes/weDo.njk"%}
{%include "includes/portfolio.njk"%}
{%include "includes/services.njk"%}
{%include "includes/skills.njk"%}
{%include "includes/clients.njk"%}
{%include "includes/callToAction.njk"%}
{%include "includes/team.njk"%}
{%include "includes/description.njk"%}
{%include "includes/blog.njk"%}
{%include "includes/pricing.njk"%}
{%include "includes/testimonials.njk"%}
{%include "includes/contact.njk"%}
<div id="map_canvas"></div>
{%include "includes/places.njk"%}
{%include "includes/footer.njk"%}
{%endblock%}
